:css
  .ui.segment {
    font-size: 18px!important;
  }
%section.content
  .schedules
    %h1.ui.grey.centered.header{:style => "margin-top: 40px;"} CAPEX GUIDELINES
    %hr
  - @guidelines.each do |a|
    %h3.text-blue
      = a.title
      .ui.label
        = a.posted_at
    %p
      = a.content.html_safe
    %hr
