:css
  .container {
    font-family: "Time New Roman"!important;
  }


= render partial: "shared/header"
#accounting_image
  .white
    .container
      %center
        %br
        %br
        %br
        %h1{:style => "color: white; font-family: Snell Roundhand, cursive;"}
          Ateneo de Manile University Budget Website 
          %br
          FY 2019-2020
