:css
  .container {
    font-family: "Time New Roman"!important;
  }
%div#LandingPage
  #accounting_image
    .white
      .container
        .row
          .col-md-12{:style => "margin-top: 20%;"}
            %center
              = image_tag "logo.png", width: "180px;"
              %p
                %h2{:style => "color: white; "}
                  ATENEO DE MANILA UNIVERSITY 
                  %br
                  Budget Website for FY 2017-2018
                  %br
                  %br
              = link_to announcements_path, class: "enter-button" do
                %b
                  CLICK HERE
          
