:css
  .ui.segment {
    font-size: 18px!important;
  }
%section.content
  .container-fluid
    .schedules
      %h1.ui.grey.centered.header{:style => "margin-top: 40px;"} ANNOUNCEMENTS
      %hr
    - @announcements.each do |a|
      %h3.text-blue
        = a.title
        .ui.label
          = a.announced_at
      %p
        = a.content.html_safe
      %hr
