
:css
  .ui.segment {
    font-size: 18px!important;
  }
%section.content
  .schedules
    %h1.ui.grey.centered.header{:style => "margin-top: 25px;"} 
      SCHEDULE OF MEETINGS
      %br
      UNIVERSITY BUDGET COMMITTEE
      %br
      %small
        FY 2018 - 2019
    %hr
    %table.ui.celled.table{:style => "line-height: 100px;"}
      %thead
        %tr
          %th Date
          %th Day
          %th Unit
          %th Time
      %tbody
        %tr
          %td
            .ui.red.big.ribbon.label January 16
          %td Tuesday
          %td
            * Briefing
            %br
            * VP for University  Global Relations
            %br
            * VP for Loyola Schools (with Rizal Library and Residence Halls)
          %td 
            9:30 am
            %br
            10:30 am
            %br
            1:30 pm
        %tr
          %td
            .ui.red.big.ribbon.label January 23
          %td Tuesday
          %td
            * VP for Basic Education
            (plus GS, JHS  HS)
            %br
            * VP for Professional Schools
            (plus GSB, Law School, ASMPH, SOG  APS Lib, RBO & SBO)
          %td
            9:30 am
            %br
            1:30 pm
        %tr
          %td
            .ui.red.big.ribbon.label January 25
          %td Thursday
          %td
            * VP for Social Development (plus ACED, AIS, Gawad Kalinga & Pathways)
            %br
            * VP for Administration
            (plus CSMO, CFMO, OAR, MPAO, ITRMO, UArchives, UAthletics)
            %br
            * President's Office
            (plus Art Gallery, OHRMOD, OMI, OUD, UCPRO, UREO, UPress, SQMO, UDPO, Arete & Salt Institute)
            %br
            * General Administration
            %br
            * VP Finance & Treasurer (plus CAO and CPO)
          %td
            9:00 am
            %br
            10:30 am
            %br
            1:30 pm
            %br
            3:00 pm
            %br
            3:30 pm
        %tr
          %td
            .ui.red.big.ribbon.label 
              February 8
          %td Thursday
          %td
            * Review of Proposed Major Improvement and Inspection Tour
            %br
            * Review of Proposed New Positions
            
          %td
            9:30 am
            %br
            1:30 pm
              
        %tr
          %td
            .ui.red.big.ribbon.label 
              February 16
          %td Friday
          %td
            * Final Meeting
          %td TBA
