
:css
  .ui.segment {
    font-size: 18px!important;
  }
%section.content
  .schedules
    %h1.ui.grey.centered.header{:style => "margin-top: 25px;"} 
      SCHEDULE OF MEETINGS
      %br
      UNIVERSITY BUDGET COMMITTEE
      %br
      %small
        FY 2018 - 2019
    %hr
    %table.ui.celled.table
      %thead
        %tr
          %th Date
          %th Day
          %th Unit
          %th Time
      %tbody
        %tr
          %td
            .ui.red.big.ribbon.label January 17
          %td Tuesday
          %td
            Briefing
            %br
            VP for Loyola Schools
            (plus Rizal Library  Residence Halls)
          %td 
            9:30 a.m
            %br
            10:30 a.m
        %tr
          %td
            .ui.red.big.ribbon.label January 24
          %td Tuesday
          %td
            VP for Basic Education
            (plus GS, JHS  HS)
            %br
            VP for Professional Schools
            (plus GSB, Law School, ASMPH, SOG  APS Lib, RBO & SBO)
          %td
            9:30 a.m.
            %br
            1:30 p.m
        %tr
          %td
            .ui.red.big.ribbon.label January 26
          %td Thursday
          %td
            VP for University  Global Relations
            %br
            VP for Social Development (plus ACED, AIS, Gawad Kalinga & Pathways)
            %br
            VP for Administration
            (plus CSMO, CFMO, OUD, OAR, ITRMO, UArchives  UAth)
          %td
            9:30 a.m
            %br
            10:30 a.m
            %br
            1:30 p.m.

        %tr
          %td
            .ui.red.big.ribbon.label 
              February 7
          %td Tuesday
          %td
            President's Office
            %br
            (plus Art Gallery, OHRMOD, OMI, OUD, UCPRO &amp; UPress)
            %br
            General Administration
            %br
            VP Finance &amp; Treasurer
            %br
            (plus CAO, CPO &amp; MPAO)
          %td
            9:30 a.m.
            %br 
            %br
            10:30 a.m.
            %br
            11:00 a.m
            %br
        %tr
          %td
            .ui.red.big.ribbon.label 
              February 14
          %td Tuesday
          %td
            Review of Proposed Major Improvement and Inspection Tour
            %br
              Review of Proposed New Positions
            %td
              9:30 a.m
              
        %tr
          %td
            .ui.red.big.ribbon.label 
              February 24
          %td Friday
          %td
            Final Meeting
          %td TBA
