%section.content
  .ui.segment
    .schedules
      %h1.ui.grey.centered.header{:style => "margin-top: 25px;"} SCHEDULES
      %hr
      %table.ui.blue.celled.table
        %thead
          %tr
            %th Date
            %th Day
            %th Unit
            %th Time
        %tbody
          %tr
            %td January 21
            %td Thursday
            %td
              Briefing
              %br
                VP for Loyola Schools
                (plus Rizal Library  Residence Halls)
              %td
                9:30 a.m
                %br
                  10:30 a.m
              %tr
                %td January 26
                %td Tuesday
                %td
                  Lunch
                  %br
                    VP for Basic Education
                    (plus GS, JHS  HS)
                    %br
                      VP for Professional Schools
                      (plus GSB, Law School, ASMPH, SOG  APS Lib)
                    %td
                      12:00 noon
                      %br
                        1:00 p.m
                        %br
                          3:00 p.m
                      %tr
                        %td January 28, 2016
                        %td Thursday
                        %td
                          VP for University  Global Relations
                          %br
                            VP for Administration
                            (plus CSMO, CFMO, OUD, OAR, ITRMO, UArchives  UAth)
                          %td
                            9:00 a.m
                            %br
                              10:30 a.m
                          %tr
                            %td February 11, 2016
                            %td Thursday
                            %td
                              President&#x2019;s Office
                              (plus Art Gallery, OHRMOD, OMI, UCPRO  UPress)
                              %br
                                General Administration
                                %br
                                  VP Finance  Treasurer
                                  (plus CAO, CPO  MPAO)
                                %td
                                  9:30 a.m
                                  %br
                                    11:00 a.m
                                    %br
                                      1:30 p.m
                                      %br
                                        2:00 p.m
                                    %tr
                                      %td February 16
                                      %td Tuesday
                                      %td
                                        Review of Proposed Major Improvement and Inspection Tour
                                        %br
                                          Review of Proposed New Positions
                                        %td
                                          9:30 a.m
                                          %br
                                            1:30 p.m
                                            %br
                                          %tr
                                            %td February 22
                                            %td Monday
                                            %td
                                              Final Meeting
                                            %td 9:30 a.m
