%section.content
  .ui.segment
    .schedules
      %h1.ui.grey.centered.header{:style => "margin-top: 25px;"} SCHEDULES
      %hr
      %table.ui.blue.celled.table
        %thead
          %tr
            %th Date
            %th Day
            %th Unit
            %th Time
        %tbody
          %tr
            %td January 17
            %td Tuesday
            %td
              Briefing
              %br
                VP for Loyola Schools
                (plus Rizal Library  Residence Halls)
            %td
              9:30 a.m
              %br
                10:30 a.m
          %tr
            %td January 24
            %td Tuesday
            %td
              Lunch
              %br
                VP for Basic Education
                (plus GS, JHS  HS)
                %br
                  VP for Professional Schools
                  (plus GSB, Law School, ASMPH, SOG  APS Lib, RBO & SBO)
                %td
                  12:00 noon
                  %br
                    1:00 p.m
                    %br
                      3:00 p.m
          %tr
            %td January 26
            %td Thursday
            %td
              VP for University  Global Relations
              %br
                VP for Administration
                (plus CSMO, CFMO, OUD, OAR, ITRMO, UArchives  UAth)
              %td
                9:00 a.m
                %br
                  10:30 a.m
          %tr
            %td February 7
            %td Tuesday
            %td
              VP for Social Development
              %br
              (plus ACED, AIS, Gawad Kalinga & Pathways)
              %br
              President's Office
              %br
              (plus Art Gallery, OHRMOD, OMI, OUD, UCPRO &amp; UPress)
              %br
              General Administration
              %br
              VP Finance &amp; Treasurer
              %br
              (plus CAO, CPO &amp; MPAO)
            %td
              11:00 a.m
              %br 
              %br
              1:30 p.m
              %br
              %br
              2:30 p.m
              %br
              2:45 p.m
          %tr
            %td February 14
            %td Tuesday
            %td
              Review of Proposed Major Improvement and Inspection Tour
              %br
                Review of Proposed New Positions
              %td
                9:30 a.m
                
          %tr
            %td February 24
            %td Friday
            %td
              Final Meeting
            %td TBA
